.card{
    padding: 0px 70px 0px 70px;
    border: none;
}
.card2{
    padding: 0px 70px 0px 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card2 img:hover{
    transition: 0.3s ease-out;
    transform: scale(1.1);
    cursor: pointer;
}
@media (max-width:768px){
    .card2{
        display: none;
    }
}