<!-- Categories -->
<div class="cat" id="Categories">
  <div>
    <img
      src="../../../assets/Categories/image 1588.svg"
      alt="Drinks & Juices"
      class="cat-1"
    />
    <h2>Drinks & Juices</h2>
  </div>
  <div>
    <img
      src="../../../assets/Categories/image 1588.svg"
      alt="Drinks & Juices"
      class="cat-1"
    />
    <h2>Drinks & Juices</h2>
  </div>
  <div>
    <img
      src="../../../assets/Categories/image 1588.svg"
      alt="Drinks & Juices"
      class="cat-1"
    />
    <h2>Drinks & Juices</h2>
  </div>
  <div>
    <img
      src="../../../assets/Categories/image 1588.svg"
      alt="Drinks & Juices"
      class="cat-1"
    />
    <h2>Drinks & Juices</h2>
  </div>
  <div>
    <img
      src="../../../assets/Categories/image 1588.svg"
      alt="Drinks & Juices"
      class="cat-1"
    />
    <h2>Drinks & Juices</h2>
  </div>
  <div>
    <img
      src="../../../assets/Categories/image 1588.svg"
      alt="Drinks & Juices"
      class="cat-1"
    />
    <h2>Drinks & Juices</h2>
  </div>
  <div>
    <img
      src="../../../assets/Categories/image 1588.svg"
      alt="Drinks & Juices"
      class="cat-1"
    />
    <h2>Drinks & Juices</h2>
  </div>
  <div>
    <img
      src="../../../assets/Categories/image 1588.svg"
      alt="Drinks & Juices"
      class="cat-1"
    />
    <h2>Drinks & Juices</h2>
  </div>
  <div>
    <img
      src="../../../assets/Categories/image 1588.svg"
      alt="Drinks & Juices"
      class="cat-1"
    />
    <h2>Drinks & Juices</h2>
  </div>
</div>
