<!-- Sell Items -->

<div class="sell-item">
  <div class="sell-title">
    <h2 class="title">Best Seller</h2>
    <a href="">see all</a>
  </div>
  <div class="main-container">
    <div class="sell-items">
      <div class="discount-wish">
        <div class="discount-offer">
          <img src="../../../assets/Discount-offer/Container.svg" alt="" />
        </div>
        <div class="wish-item">
          <img src="../../../assets/Wish-Item/Vector.svg" alt="" />
        </div>
      </div>
      <div class="items">
        <img
          src="../../../assets/Sell Items/image 87 (1).svg"
          alt=""
          class="item-image"
        />
        <h2 class="item-title">Eno Orange Antacid - Pack of 3</h2>
        <div>
          <p>3x5g</p>
        </div>
        <div class="d-flex">
          <p class="price">₹ 120.00</p>
          <del class="discount-price">₹30</del>
        </div>
        <div class="add-to-cart">Add to Cart</div>
      </div>
    </div>
    <div class="sell-items">
      <div class="discount-wish">
        <div class="discount-offer">
          <img src="../../../assets/Discount-offer/Container.svg" alt="" />
        </div>
        <div class="wish-item">
          <img src="../../../assets/Wish-Item/Vector.svg" alt="" />
        </div>
      </div>
      <div class="items">
        <img
          src="../../../assets/Sell Items/image 87 (1).svg"
          alt=""
          class="item-image"
        />
        <h2 class="item-title">Eno Orange Antacid - Pack of 3</h2>
        <div>
          <p>3x5g</p>
        </div>
        <div class="d-flex">
          <p class="price">₹ 120.00</p>
          <del class="discount-price">₹30</del>
        </div>
        <div class="add-to-cart">Add to Cart</div>
      </div>
    </div>
    <div class="sell-items">
      <div class="discount-wish">
        <div class="discount-offer">
          <img src="../../../assets/Discount-offer/Container.svg" alt="" />
        </div>
        <div class="wish-item">
          <img src="../../../assets/Wish-Item/Vector.svg" alt="" />
        </div>
      </div>
      <div class="items">
        <img
          src="../../../assets/Sell Items/image 87 (1).svg"
          alt=""
          class="item-image"
        />
        <h2 class="item-title">Eno Orange Antacid - Pack of 3</h2>
        <div>
          <p>3x5g</p>
        </div>
        <div class="d-flex">
          <p class="price">₹ 120.00</p>
          <del class="discount-price">₹30</del>
        </div>
        <div class="add-to-cart">Add to Cart</div>
      </div>
    </div>
    <div class="sell-items">
      <div class="discount-wish">
        <div class="discount-offer">
          <img src="../../../assets/Discount-offer/Container.svg" alt="" />
        </div>
        <div class="wish-item">
          <img src="../../../assets/Wish-Item/Vector.svg" alt="" />
        </div>
      </div>
      <div class="items">
        <img
          src="../../../assets/Sell Items/image 87 (1).svg"
          alt=""
          class="item-image"
        />
        <h2 class="item-title">Eno Orange Antacid - Pack of 3</h2>
        <div>
          <p>3x5g</p>
        </div>
        <div class="d-flex">
          <p class="price">₹ 120.00</p>
          <del class="discount-price">₹30</del>
        </div>
        <div class="add-to-cart">Add to Cart</div>
      </div>
    </div>
    <div class="sell-items">
      <div class="discount-wish">
        <div class="discount-offer">
          <img src="../../../assets/Discount-offer/Container.svg" alt="" />
        </div>
        <div class="wish-item">
          <img src="../../../assets/Wish-Item/Vector.svg" alt="" />
        </div>
      </div>
      <div class="items">
        <img
          src="../../../assets/Sell Items/image 87 (1).svg"
          alt=""
          class="item-image"
        />
        <h2 class="item-title">Eno Orange Antacid - Pack of 3</h2>
        <div>
          <p>3x5g</p>
        </div>
        <div class="d-flex">
          <p class="price">₹ 120.00</p>
          <del class="discount-price">₹30</del>
        </div>
        <div class="add-to-cart">Add to Cart</div>
      </div>
    </div>
    <div class="sell-items">
      <div class="discount-wish">
        <div class="discount-offer">
          <img src="../../../assets/Discount-offer/Container.svg" alt="" />
        </div>
        <div class="wish-item">
          <img src="../../../assets/Wish-Item/Vector.svg" alt="" />
        </div>
      </div>
      <div class="items">
        <img
          src="../../../assets/Sell Items/image 87 (1).svg"
          alt=""
          class="item-image"
        />
        <h2 class="item-title">Eno Orange Antacid - Pack of 3</h2>
        <div>
          <p>3x5g</p>
        </div>
        <div class="d-flex">
          <p class="price">₹ 120.00</p>
          <del class="discount-price">₹30</del>
        </div>
        <div class="add-to-cart">Add to Cart</div>
      </div>
    </div>
  </div>

  <div class="sell-title">
    <h2 class="title">Best Seller</h2>
    <a href="">see all</a>
  </div>
  <div class="main-container">
    <div class="sell-items">
      <div class="discount-wish">
        <div class="discount-offer">
          <img src="../../../assets/Discount-offer/Container.svg" alt="" />
        </div>
        <div class="wish-item">
          <img src="../../../assets/Wish-Item/Vector.svg" alt="" />
        </div>
      </div>
      <div class="items">
        <img
          src="../../../assets/Sell Items/image 87 (1).svg"
          alt=""
          class="item-image"
        />
        <h2 class="item-title">Eno Orange Antacid - Pack of 3</h2>
        <div>
          <p>3x5g</p>
        </div>
        <div class="d-flex">
          <p class="price">₹ 120.00</p>
          <del class="discount-price">₹30</del>
        </div>
        <div class="add-to-cart">Add to Cart</div>
      </div>
    </div>
    <div class="sell-items">
      <div class="discount-wish">
        <div class="discount-offer">
          <img src="../../../assets/Discount-offer/Container.svg" alt="" />
        </div>
        <div class="wish-item">
          <img src="../../../assets/Wish-Item/Vector.svg" alt="" />
        </div>
      </div>
      <div class="items">
        <img
          src="../../../assets/Sell Items/image 87 (1).svg"
          alt=""
          class="item-image"
        />
        <h2 class="item-title">Eno Orange Antacid - Pack of 3</h2>
        <div>
          <p>3x5g</p>
        </div>
        <div class="d-flex">
          <p class="price">₹ 120.00</p>
          <del class="discount-price">₹30</del>
        </div>
        <div class="add-to-cart">Add to Cart</div>
      </div>
    </div>
    <div class="sell-items">
      <div class="discount-wish">
        <div class="discount-offer">
          <img src="../../../assets/Discount-offer/Container.svg" alt="" />
        </div>
        <div class="wish-item">
          <img src="../../../assets/Wish-Item/Vector.svg" alt="" />
        </div>
      </div>
      <div class="items">
        <img
          src="../../../assets/Sell Items/image 87 (1).svg"
          alt=""
          class="item-image"
        />
        <h2 class="item-title">Eno Orange Antacid - Pack of 3</h2>
        <div>
          <p>3x5g</p>
        </div>
        <div class="d-flex">
          <p class="price">₹ 120.00</p>
          <del class="discount-price">₹30</del>
        </div>
        <div class="add-to-cart">Add to Cart</div>
      </div>
    </div>
    <div class="sell-items">
      <div class="discount-wish">
        <div class="discount-offer">
          <img src="../../../assets/Discount-offer/Container.svg" alt="" />
        </div>
        <div class="wish-item">
          <img src="../../../assets/Wish-Item/Vector.svg" alt="" />
        </div>
      </div>
      <div class="items">
        <img
          src="../../../assets/Sell Items/image 87 (1).svg"
          alt=""
          class="item-image"
        />
        <h2 class="item-title">Eno Orange Antacid - Pack of 3</h2>
        <div>
          <p>3x5g</p>
        </div>
        <div class="d-flex">
          <p class="price">₹ 120.00</p>
          <del class="discount-price">₹30</del>
        </div>
        <div class="add-to-cart">Add to Cart</div>
      </div>
    </div>
    <div class="sell-items">
      <div class="discount-wish">
        <div class="discount-offer">
          <img src="../../../assets/Discount-offer/Container.svg" alt="" />
        </div>
        <div class="wish-item">
          <img src="../../../assets/Wish-Item/Vector.svg" alt="" />
        </div>
      </div>
      <div class="items">
        <img
          src="../../../assets/Sell Items/image 87 (1).svg"
          alt=""
          class="item-image"
        />
        <h2 class="item-title">Eno Orange Antacid - Pack of 3</h2>
        <div>
          <p>3x5g</p>
        </div>
        <div class="d-flex">
          <p class="price">₹ 120.00</p>
          <del class="discount-price">₹30</del>
        </div>
        <div class="add-to-cart">Add to Cart</div>
      </div>
    </div>
    <div class="sell-items">
      <div class="discount-wish">
        <div class="discount-offer">
          <img src="../../../assets/Discount-offer/Container.svg" alt="" />
        </div>
        <div class="wish-item">
          <img src="../../../assets/Wish-Item/Vector.svg" alt="" />
        </div>
      </div>
      <div class="items">
        <img
          src="../../../assets/Sell Items/image 87 (1).svg"
          alt=""
          class="item-image"
        />
        <h2 class="item-title">Eno Orange Antacid - Pack of 3</h2>
        <div>
          <p>3x5g</p>
        </div>
        <div class="d-flex">
          <p class="price">₹ 120.00</p>
          <del class="discount-price">₹30</del>
        </div>
        <div class="add-to-cart">Add to Cart</div>
      </div>
    </div>
  </div>
  <div class="sell-title">
    <h2 class="title">Best Seller</h2>
    <a href="">see all</a>
  </div>
  <div class="main-container">
    <div class="sell-items">
      <div class="discount-wish">
        <div class="discount-offer">
          <img src="../../../assets/Discount-offer/Container.svg" alt="" />
        </div>
        <div class="wish-item">
          <img src="../../../assets/Wish-Item/Vector.svg" alt="" />
        </div>
      </div>
      <div class="items">
        <img
          src="../../../assets/Sell Items/image 87 (1).svg"
          alt=""
          class="item-image"
        />
        <h2 class="item-title">Eno Orange Antacid - Pack of 3</h2>
        <div>
          <p>3x5g</p>
        </div>
        <div class="d-flex">
          <p class="price">₹ 120.00</p>
          <del class="discount-price">₹30</del>
        </div>
        <div class="add-to-cart">Add to Cart</div>
      </div>
    </div>
    <div class="sell-items">
      <div class="discount-wish">
        <div class="discount-offer">
          <img src="../../../assets/Discount-offer/Container.svg" alt="" />
        </div>
        <div class="wish-item">
          <img src="../../../assets/Wish-Item/Vector.svg" alt="" />
        </div>
      </div>
      <div class="items">
        <img
          src="../../../assets/Sell Items/image 87 (1).svg"
          alt=""
          class="item-image"
        />
        <h2 class="item-title">Eno Orange Antacid - Pack of 3</h2>
        <div>
          <p>3x5g</p>
        </div>
        <div class="d-flex">
          <p class="price">₹ 120.00</p>
          <del class="discount-price">₹30</del>
        </div>
        <div class="add-to-cart">Add to Cart</div>
      </div>
    </div>
    <div class="sell-items">
      <div class="discount-wish">
        <div class="discount-offer">
          <img src="../../../assets/Discount-offer/Container.svg" alt="" />
        </div>
        <div class="wish-item">
          <img src="../../../assets/Wish-Item/Vector.svg" alt="" />
        </div>
      </div>
      <div class="items">
        <img
          src="../../../assets/Sell Items/image 87 (1).svg"
          alt=""
          class="item-image"
        />
        <h2 class="item-title">Eno Orange Antacid - Pack of 3</h2>
        <div>
          <p>3x5g</p>
        </div>
        <div class="d-flex">
          <p class="price">₹ 120.00</p>
          <del class="discount-price">₹30</del>
        </div>
        <div class="add-to-cart">Add to Cart</div>
      </div>
    </div>
    <div class="sell-items">
      <div class="discount-wish">
        <div class="discount-offer">
          <img src="../../../assets/Discount-offer/Container.svg" alt="" />
        </div>
        <div class="wish-item">
          <img src="../../../assets/Wish-Item/Vector.svg" alt="" />
        </div>
      </div>
      <div class="items">
        <img
          src="../../../assets/Sell Items/image 87 (1).svg"
          alt=""
          class="item-image"
        />
        <h2 class="item-title">Eno Orange Antacid - Pack of 3</h2>
        <div>
          <p>3x5g</p>
        </div>
        <div class="d-flex">
          <p class="price">₹ 120.00</p>
          <del class="discount-price">₹30</del>
        </div>
        <div class="add-to-cart">Add to Cart</div>
      </div>
    </div>
    <div class="sell-items">
      <div class="discount-wish">
        <div class="discount-offer">
          <img src="../../../assets/Discount-offer/Container.svg" alt="" />
        </div>
        <div class="wish-item">
          <img src="../../../assets/Wish-Item/Vector.svg" alt="" />
        </div>
      </div>
      <div class="items">
        <img
          src="../../../assets/Sell Items/image 87 (1).svg"
          alt=""
          class="item-image"
        />
        <h2 class="item-title">Eno Orange Antacid - Pack of 3</h2>
        <div>
          <p>3x5g</p>
        </div>
        <div class="d-flex">
          <p class="price">₹ 120.00</p>
          <del class="discount-price">₹30</del>
        </div>
        <div class="add-to-cart">Add to Cart</div>
      </div>
    </div>
    <div class="sell-items">
      <div class="discount-wish">
        <div class="discount-offer">
          <img src="../../../assets/Discount-offer/Container.svg" alt="" />
        </div>
        <div class="wish-item">
          <img src="../../../assets/Wish-Item/Vector.svg" alt="" />
        </div>
      </div>
      <div class="items">
        <img
          src="../../../assets/Sell Items/image 87 (1).svg"
          alt=""
          class="item-image"
        />
        <h2 class="item-title">Eno Orange Antacid - Pack of 3</h2>
        <div>
          <p>3x5g</p>
        </div>
        <div class="d-flex">
          <p class="price">₹ 120.00</p>
          <del class="discount-price">₹30</del>
        </div>
        <div class="add-to-cart">Add to Cart</div>
      </div>
    </div>
  </div>
  <div class="sell-title">
    <h2 class="title">Best Seller</h2>
    <a href="">see all</a>
  </div>
  <div class="main-container">
    <div class="sell-items">
      <div class="discount-wish">
        <div class="discount-offer">
          <img src="../../../assets/Discount-offer/Container.svg" alt="" />
        </div>
        <div class="wish-item">
          <img src="../../../assets/Wish-Item/Vector.svg" alt="" />
        </div>
      </div>
      <div class="items">
        <img
          src="../../../assets/Sell Items/image 87 (1).svg"
          alt=""
          class="item-image"
        />
        <h2 class="item-title">Eno Orange Antacid - Pack of 3</h2>
        <div>
          <p>3x5g</p>
        </div>
        <div class="d-flex">
          <p class="price">₹ 120.00</p>
          <del class="discount-price">₹30</del>
        </div>
        <div class="add-to-cart">Add to Cart</div>
      </div>
    </div>
    <div class="sell-items">
      <div class="discount-wish">
        <div class="discount-offer">
          <img src="../../../assets/Discount-offer/Container.svg" alt="" />
        </div>
        <div class="wish-item">
          <img src="../../../assets/Wish-Item/Vector.svg" alt="" />
        </div>
      </div>
      <div class="items">
        <img
          src="../../../assets/Sell Items/image 87 (1).svg"
          alt=""
          class="item-image"
        />
        <h2 class="item-title">Eno Orange Antacid - Pack of 3</h2>
        <div>
          <p>3x5g</p>
        </div>
        <div class="d-flex">
          <p class="price">₹ 120.00</p>
          <del class="discount-price">₹30</del>
        </div>
        <button class="add-to-cart">Add to Cart</button>
      </div>
    </div>
    <div class="sell-items">
      <div class="discount-wish">
        <div class="discount-offer">
          <img src="../../../assets/Discount-offer/Container.svg" alt="" />
        </div>
        <div class="wish-item">
          <img src="../../../assets/Wish-Item/Vector.svg" alt="" />
        </div>
      </div>
      <div class="items">
        <img
          src="../../../assets/Sell Items/image 87 (1).svg"
          alt=""
          class="item-image"
        />
        <h2 class="item-title">Eno Orange Antacid - Pack of 3</h2>
        <div>
          <p>3x5g</p>
        </div>
        <div class="d-flex">
          <p class="price">₹ 120.00</p>
          <del class="discount-price">₹30</del>
        </div>
        <div class="add-to-cart">Add to Cart</div>
      </div>
    </div>
    <div class="sell-items">
      <div class="discount-wish">
        <div class="discount-offer">
          <img src="../../../assets/Discount-offer/Container.svg" alt="" />
        </div>
        <div class="wish-item">
          <img src="../../../assets/Wish-Item/Vector.svg" alt="" />
        </div>
      </div>
      <div class="items">
        <img
          src="../../../assets/Sell Items/image 87 (1).svg"
          alt=""
          class="item-image"
        />
        <h2 class="item-title">Eno Orange Antacid - Pack of 3</h2>
        <div>
          <p>3x5g</p>
        </div>
        <div class="d-flex">
          <p class="price">₹ 120.00</p>
          <del class="discount-price">₹30</del>
        </div>
        <div class="add-to-cart">Add to Cart</div>
      </div>
    </div>
    <div class="sell-items">
      <div class="discount-wish">
        <div class="discount-offer">
          <img src="../../../assets/Discount-offer/Container.svg" alt="" />
        </div>
        <div class="wish-item">
          <img src="../../../assets/Wish-Item/Vector.svg" alt="" />
        </div>
      </div>
      <div class="items">
        <img
          src="../../../assets/Sell Items/image 87 (1).svg"
          alt=""
          class="item-image"
        />
        <h2 class="item-title">Eno Orange Antacid - Pack of 3</h2>
        <div>
          <p>3x5g</p>
        </div>
        <div class="d-flex">
          <p class="price">₹ 120.00</p>
          <del class="discount-price">₹30</del>
        </div>
        <div class="add-to-cart">Add to Cart</div>
      </div>
    </div>
    <div class="sell-items">
      <div class="discount-wish">
        <div class="discount-offer">
          <img src="../../../assets/Discount-offer/Container.svg" alt="" />
        </div>
        <div class="wish-item">
          <img src="../../../assets/Wish-Item/Vector.svg" alt="" />
        </div>
      </div>
      <div class="items">
        <img
          src="../../../assets/Sell Items/image 87 (1).svg"
          alt=""
          class="item-image"
        />
        <h2 class="item-title">Eno Orange Antacid - Pack of 3</h2>
        <div>
          <p>3x5g</p>
        </div>
        <div class="d-flex">
          <p class="price">₹ 120.00</p>
          <del class="discount-price">₹30</del>
        </div>
        <div class="add-to-cart">Add to Cart</div>
      </div>
    </div>
  </div>
</div>
