<!-- Footer -->
<div class="col-12 footer">
  <div>
    <img src="../../../assets/Images/Group 7036.svg" alt="" />
  </div>
  <div class="col-12 col-md-2 pl-5">
    <h2>About</h2>
    <div class="About">
      <a href="">About us</a>
      <a href="">Partners</a>
      <a href="">Blog</a>
      <a href="">Press</a>
    </div>
  </div>
  <div class="col-12 col-md-2 p-0">
    <h2>Quick Links</h2>
    <div class="About">
      <a href="">FAQ</a>
      <a href="">Contact Us</a>
    </div>
  </div>
  <div class="col-12 col-md-2 p-0">
    <h2>Help & Support</h2>
    <div class="About">
      <a href="">Term & Conditions</a>
      <a href="">Privacy Policy</a>
    </div>
  </div>
  <div class="col-12 col-md-2 p-0">
    <h2>Categories</h2>
    <div class="About">
      <a href="">Vegetable & Fruits</a>
      <a href="">Drinks & Juices</a>
      <a href="">Spices</a>
      <a href="">Bakery</a>
    </div>
  </div>
  <div class="col-12 col-md-2 p-0">
    <h2>Socials</h2>
    <div class="About">
      <a href="">Instagram</a>
      <a href="">Facebook</a>
      <a href="">Twitter</a>
    </div>
  </div>
  <div class="location">
    <h2>4576/2 Tri Nagar, Jai Mata Market, Keshavpuram Delhi-110035</h2>
    <h2>quickcart@support.com</h2>
  </div>
</div>
<!-- CopyRight -->
<div class="CopyRight">
  <h2>© Ecommblaze Private Limited</h2>
  <div class="d-flex">
    <h2 class="pr-4">Download App</h2>
    <a href="">
      <img src="../../../assets/CopyRight/Group 7037.svg" alt="" />
    </a>
    <a href="">
      <img
        src="../../../assets/CopyRight/streamline_app-store-solid.svg"
        alt=""
      />
    </a>
  </div>
</div>
