.footer{
    padding: 50px 100px 20px 160px;
    display: flex;
    justify-content: end;
    height: 250px;
    // align-items: center;
}
.footer ul{
    padding: 0px;
}
.footer ul>li{
    list-style: none;
    padding-left: 0px;
}
.footer h2{
    font-size: 18px;
    // text-align: center;
}
.About{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // align-items: center;
}
.About a{
    padding-left: 0px;
    color: #666666;
    text-decoration: none;
}
.location h2{
    font-size: 14px;
    color: #666666;

}
.CopyRight{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
}
.CopyRight img{
    padding-right: 20px;
}
.CopyRight h2{
    font-size: 14px;
    color: #666666;
}
.location-des{
    display: flex;
    align-items: center;
    h2{
        padding-left: 25px;
    }
    a{
        text-decoration: none;
        color: #666666;
        padding-left: 25px;
    }
    img{
        width: 15px;
        height: 50px;
    }
}
@media only screen and (max-width: 768px) {
    .footer{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }
}